@media (max-width: 699px) {
  .launcher {
    height: 12ex;
  }
  .launcher-fake {
    height: 16ex;
    margin-bottom: -14ex;
  }
  .launcher > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 1ex;
    padding: 1ex;
    overflow: visible;
  }

  #deck-select {
    width: calc(100% - 18.5ex);
  }
  #round-input {
    width: calc(100% - 6ex);
  }
}
@media (min-width: 700px) {
  .launcher {
    height: 6ex;
    display: flex;
    gap: 1ex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .launcher-fake {
    height: 10ex;
    margin-bottom: -8ex;
  }
  .launcher > div {
    display: contents;
  }
  #deck-select {
    width: 22ex;
  }
  #round-input {
    width: calc(100% - 50ex);
  }
}

.overflow {
  overflow: visible;
  contain: none !important;
}

#estimate-button {
  width: 14ex;
}

.tab-spinner {
  display: flex;
  width: 100%;
  height: var(--vote-height) !important;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.tab-spinner fluent-progress-ring {
  height: 12ex;
  width: 12ex;
}
.tab-spinner {
  width: 100%;
  height: 100%;
}
