.launcher {
    height: 12ex;
}
.launcher-fake {
    height: 16ex;
    margin-bottom: -14ex;
}
.launcher > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 1ex;
    padding: 1ex;
    overflow:visible;
}
.overflow {
    overflow:visible;
    contain: none !important;
}

.select-fill {
    height: 4ex;
}
.select-wrapper {
    overflow:visible;
    contain: none;
    position: relative;
    margin-top: -6ex;
}
.select-wrapper fluent-card {
    contain: none !important;
    overflow: visible !important;
}

#round-input {
    width: 40ex;
}
#estimate-button {
    width: 14ex;
}
#type-select {
    width: 22ex;
    min-width: unset;
    height: 4ex;
}