#root {
  max-width: 1280px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  gap: 1ex 0;
  grid-template-areas:
    "content"
    "menu";
  height: var(--vote-height, 100%);
  box-sizing: border-box;
}

.content {
  overflow-x: hidden; 
  overflow-y: auto; 
}
