name: Publish `teams-vote-plugin`

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      # Only publish when the example changes
      - src/teams-vote-plugin/**
      - .github/workflows/teams-vote-plugin.yml

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  # Make the group unique, but, distinguish between automatic and manual dispatch
  group: teams-plugin-${{ github.ref }}${{ github.event_name == 'workflow_dispatch' && '[dispatch]' || '' }}
  cancel-in-progress: false

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5 
        with:
          lfs: true
      # Supposedly this speeds up the build
      # https://github.com/actions/setup-node/issues/819#issuecomment-1659698335
      - uses: actions/cache@v4
        with:
          path: '~/.pnpm'
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
          check-latest: true
      - name: Install dependencies
        run: pnpm install
        working-directory: '.'
      - name: Install tools
        run: pnpm add -g @pnp/cli-microsoft365
        working-directory: '.'
      - name: Login Teams Dev portal
        run: > 
          m365 login --authType secret
          --tenant ${{ secrets.TEAMS_PLUGIN_TENANT_ID }}
          --appId ${{ secrets.TEAMS_PLUGIN_AZURE_CLIENT_ID }}
          --secret ${{ secrets.TEAMS_PLUGIN_AZURE_CLIENT_SECRET }}
        working-directory: './src/teams-vote-plugin'
      - name: Build Manifest
        env: 
          TEAMS_APP_ID: ${{ secrets.TEAMS_APP_ID }}
          TEAMS_UI_URL: ${{  vars.TEAMS_UI_URL }}
          TEAMS_APP_CLIENT_ID: ${{ secrets.TEAMS_PLUGIN_AZURE_CLIENT_ID }}
          TEAMS_APP_CLIENT_ID_URL: ${{ secrets.TEAMS_PLUGIN_AZURE_CLIENT_URL }}
        run: pnpm update-manifest
        working-directory: './src/teams-vote-plugin'
      - name: Zip Plugin
        run: zip teams-vote.zip manifest.json images/icon-color.png images/icon-outline.png
        working-directory: './src/teams-vote-plugin'
      - name: Update plugin
        run: m365 teams app update --filePath teams-vote.zip
        working-directory: './src/teams-vote-plugin'